.background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .question.active {
    opacity: 1;
  }

  .mood {
    font-family: 'Julius Sans One';
    font-size: 40px;
    margin-top: -200px;
    margin-left: center;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: flex;
    flex-flow: column wrap;

    

  }

  .pastEntriesButton {
    size: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .green-button {
    background-color: #58a15ca9;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.green-button:hover {
    background-color: rgb(59, 123, 73);
  }

.tree1 {
  position: absolute;
  bottom: 50px;
  right: 0px;
}

.tree2 {
  position: absolute;
  bottom: 100px;
  right: -150px;
}

.bottom-left-image {
  width: 300px;
  height: 300px;
}

.endtext {
  font-family: 'Julius Sans One';
  font-size: 25px;
  margin-top: -200px;
  margin-left: center;
  animation-name: float;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inline-block;
}

.nameInput {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  z-index: 3;
  background-color: #58a15ca9;
  color: white;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.65s;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
}

.input-bar {
  margin-top: 30px;
  width: 30%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-family: "Julius Sans One";
  font-size: larger;
}