.background {
    width: 100%;
    height: 100vh;
}

.question {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .question.active {
    opacity: 1;
  }

  .thankYou {
    font-family: 'Julius Sans One';
    font-size: 30px;
    margin-top: 300px;
    margin-left: 300px;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }