body {
    background-image: url(paper-background.jpg);
    background-color: ivory;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
/* <a href="https://www.freepik.com/free-photo/paper-background_19138538.htm#query=cream%20paper&position=1&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik */

.loginButton {
    size: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.title {
    z-index: 2;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    animation-name: float;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.red-button {
    z-index: 3;
    background-color: #58a15ca9;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: 0.65s;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}

.red-button:hover {
    background-color: rgb(59, 123, 73);
}

.image-container {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 70px;
}

.bottom-left-image {
    width: 300px;
    height: 300px;
  }

.tree1 {
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.top-tree-1 {
    width: 700px;
    height: 700px;
}

.tree2 {
    position: absolute;
    bottom: 100px;
    right: -150px;
}

.top-tree-2 {
    width: 700px;
    height: 700px;
}

.treeAb1 {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: -1;
}

.treeAbSize {
    width: 450px;
    height: 450px;
}

.speech {
    position: absolute;
    bottom: 10px;
    left: 325px;
}

.speech-bubble {
    height: 350px;
    width: 350px;
}