.loginButton {
    size: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }