.container {
    position: relative;
}

.alfred-Size {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    top: 180px;
}

.tree1-size {
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0px;
    top: -20px;
}

.tree2-size {
    height: 350px;
    width: 350px;
    position: absolute;
    right: -70px;
    top: -20px;
}

.lover-container {
    position: absolute;
    top: 0;
    left: 0;
}

.alf {
    height: 100px;
    width: 100px;
    transform: translateX(30px);
}

.lover {
    height: 100px;
    width: 100px;
}

.family-container {
    position: absolute;
    top: 180px;
    transform: translateX(-80px);
}

.family {
    height: 100px;
    width: 100px;
}